@page "/"

<PageTitle></PageTitle>

<section >
  <SearchComponentForCart Placeholder="Search for books" SearchValueChanged="SearchForBook"/>
</section>


@code {

  private void SearchForBook(string searchValue)
  {
    Console.WriteLine(searchValue);
  }

}