@page "/counter"
@using Simbad.State.State
@using Simbad.TestApp.State
@inject IStore Store

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="Increment">Click me</button>

<button class="btn btn-secondary" @onclick="Reset">Reset</button>

<button class="btn btn-primary" @onclick="Decrease">Decrease</button>

@code {
    public int CurrentCount => Store.GetState<CounterState>().Value; 

    private void Increment()
    {
        Store.Dispatch(new Increment(), 1);
    }

    private void Reset()
    {
        Store.Dispatch(new Reset());
    }

    private void Decrease()
    {
        Store.Dispatch(new Decrease(), 1);
    }
}