@using BookClient.Services.State.Layout.actions
@inject NavigationManager NavigationManager
@inject IStore Store;

<aside data-role="navigation-bar" class="bg-[#eee5da] flex flex-col min-h-screen min-w-[120px] justify-center">
    <!-- AVATAR ICON -->
    <div data-role="logged-in-avatar" class=" w-[80px] h-[80px] bg-white rounded-full mb-auto mx-auto mt-[30px]"></div>

    <!-- NAVIGATION LINKS -->
    <div class="flex flex-col my-auto gap-5">
        <div data-role="home-link" class="w-[80px] h-[80px] bg-[#faf2e9] rounded-full mx-auto flex items-center justify-center cursor-pointer hover:scale-[0.9] transition">
            <img class="w-[28px] h-[28px]" src="/assets/menu-icon.svg" alt="">
        </div>

        <div data-role="favorites-link" class="w-[80px] h-[80px] bg-[#faf2e9] rounded-full mx-auto flex items-center justify-center cursor-pointer hover:scale-[0.9] transition">
            <img class="w-[35px] h-[35px]" src="/assets/star-icon.svg" alt="">
        </div>

        <div data-role="audiobooks-link" class="w-[80px] h-[80px] bg-[#faf2e9] rounded-full mx-auto flex items-center justify-center cursor-pointer hover:scale-[0.9] transition">
            <img class="w-[35px] h-[35px] translate-x-[5px]" src="/assets/play-icon.svg" alt="">
        </div>

        <div data-role="book-movies-link" class="w-[80px] h-[80px] bg-[#faf2e9] rounded-full mx-auto flex items-center justify-center cursor-pointer hover:scale-[0.9] transition">
            <img class="w-[35px] h-[35px]" src="/assets/ticket-icon.svg" alt="">
        </div>
    </div>

    <!-- NOTIFICATION BELL -->
    <div @onclick="OpenSubscriptionModal" class="bg-[#567695] w-[90px] min-h-[250px] mx-auto mt-auto mb-[30px] rounded-full flex flex-col transition hover:scale-[0.95] cursor-pointer">
        <div class="w-[70px] h-[70px] rounded-full bg-[#314f6a] mx-auto mb-auto mt-3 flex items-center justify-center">
            <img class="w-[35px] h-[35px]" src="/assets/bell-icon.svg" alt="">
        </div>
        
        <div class="relative flex items-center justify-center h-[165px]">
            <p class="text-[#fcf1e1] rotate-[-90deg] translate-x-[65px] text-[24px] h-full">
                subscribe
            </p>
        </div>
    </div>
</aside>

@code{
    private void NavigateTo(string route)
    {
        NavigationManager.NavigateTo(route);
    }

    private void OpenSubscriptionModal()
    {
        Dictionary<string, object> emptyArgs = new Dictionary<string, object>();
        Store.Dispatch(new OpenModal(), typeof(SubscriptionForm), emptyArgs);
    }
}